* {
	padding: 0px;
	margin: 0px;
}

body, #root {
	width: 100%;
	height: 100%;
}

.app {
    width: 100vw;
    height: 100vh;
}

.mgl10 {
	margin-left: 10px;
}
.mgt10 {
	margin-top: 10px;
}
.mgb10 {
	margin-bottom: 10px;
}

.logo {
	flex: 0 0 200px;
    max-width: 200px;
    min-width: 200px;
    width: 200px;
	height: 60px;
	text-align: left;
	padding: 10px;
}
.logo > img {
	width: 50px;
	height: 50px;
	
}
.sider {
	overflow: hidden;
}

.top-tabs {
	margin: 4px 10px 0px 10px;
}

.head-breadcrumb {
	display: inline-block;
}


